<strong>Olá, {{deliveryman}}!</strong>

<p>Há um novo pedido em sua fila. Segue abaixo os dados da mesma:</p>
<p>
  <ul>
    <li>Código do Pedido: {{id}}</li>
    <li>Destinatário: {{recipient}}</li>
    <li>Endereço: {{address}}</li>
    <li>Produto: {{product}}</li>
  </ul>
</p>

<p>O produto já está disponível para retirada, confira os dados antes de iniciar a entrega.</p>